@import '../../preset.scss';
@import './base.scss';

.rhm-rn-navigation {
  @include preset;

  position: relative;
  font-size: 10px;
  font-family: inherit;
  
  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    height: 5em;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    z-index: var(--z-index) !important;
    text-align: center;
    user-select: none;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;

    padding: 0 20px;
  }

  &__icon {
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    z-index: calc(var(--z-index) + 6) !important;

    &,
    &::before,
    &::after {
      width: var(--rn-icon-width);
      height: var(--rn-icon-height);
      background-color: var(--rn-icon-color);

      display: inline-block;
      margin: 0;
      transition: top 0.3s;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }
    &::before {
      top: -0.8em;
    }
    &::after {
      top: 0.8em;
    }
  }

  &__button:hover &__icon::before {
    top: -1em;
  }

  &__button:hover &__icon::after {
    top: 1em;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-45deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(45deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__nav {
    height: 100vh;
    position: fixed;
    opacity: 1;
    width: 100vw;
    transition: all var(--rn-animation-delay) ease-out;
    top: 0;
    background-color: $color-white;
    left: 0;
    overflow: hidden;
    z-index: calc(var(--z-index) - 1);


    display: flex;
    justify-content: space-around;
    align-items: center;

    opacity: 0;
    pointer-events: none;

    @include for-desktop {
      pointer-events: all;
      opacity: 1;
      justify-content: flex-start;
      max-height: 4.5em;
      justify-content: space-between;
      padding: 0 15px;
    }
  }

  &__checkbox:checked ~ &__nav {
    transform: translateY(0em);
    opacity: 1;
    pointer-events: all;
  }

  &__checkbox:checked ~ &__nav ul {
    transform: translateY(0em);
  }

  & ul:not(&__logo) {
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--gn-fontColor);

    & a {
      text-decoration: none;
    }

    transform: translateY(-10em);
    transition: all var(--rn-animation-delay) ease-out;

    @include for-desktop {
      transform: translateY(0em);
      flex-direction: row;
    }

    & li {
      margin: 10px 0;
    }
    & li {
      align-self: flex-start;
      font-size: 1.7em;
      font-weight: 300;
      padding: 0.4em 1em;
      text-decoration: none;

      transition: all 0.4s;
      display: inline-block;
      cursor: pointer;
    }
  }
}
