@import './base.scss';
@import '../../preset.scss';

.rhm-gb-navigation {
  @include preset;

  user-select: none !important;
  font-size: 10px;
  font-family: inherit;

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    width: calc(var(--gb-floatButtonSize) * 1em);
    height: calc(var(--gb-floatButtonSize) * 1em);
    position: relative !important;
    border-radius: 50%;
    z-index: var(--z-index) !important;
    text-align: center;
    box-shadow: 0 1em 3em rgba($color-black, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none !important;
    cursor: pointer;
  }

  &__icon {
    position: relative;
    cursor: pointer;
    z-index: calc(var(--z-index) + 10);
    user-select: none !important;

    &,
    &::before,
    &::after {
      width: var(--gb-icon-width);
      height: var(--gb-icon-height);
      background-color: var(--gb-icon-color);
      display: inline-block;
      margin: 0;
      transition: top 0.3s;
      user-select: none !important;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }
    &::before {
      top: -0.8em;
    }
    &::after {
      top: 0.8em;
    }
  }

  &__button:hover &__icon::before {
    top: -1em;
  }

  &__button:hover &__icon::after {
    top: 1em;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-45deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(45deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__card {
    width: 220px;
    min-height: 200px;
    border-radius: 5px;
    position: absolute;
    top: 6.5em;
    background-color: $color-white ;
    z-index: calc(var(--z-index) + 10);
    transition: all 0.2s timing_function();

    box-shadow: 0 1em 3em rgba($color-black, 0.1);
    opacity: 0;
    transform: scale(0.7);
    padding: 5% 0;

    pointer-events: none;


    &::before{
      content:"";
      width: 20px;
      height: 20px;
      background-color: inherit !important;
      position: absolute;
      top: -10px;
      @include triangle
    }

    & ul {
      text-decoration: none;
      list-style: none;
      display: flex;
      flex-direction: column;
      color: var(--gb-fontColor);
      font-size: var(--gb-fontSize);

      & > * {
        font-size: 1.7em;
        margin: 4px 0;
        padding: 9px 10%;
      }
      & li:hover {
        background-color: var(--gb-listHoverColor) !important;
      }
    }

    &--left {
      left: 0;
      & ul {
        text-align: left !important;
      }
      &::before{
        left: 10%;
      }
    }
    &--right {
      right: 0;
      & ul {
        text-align: left !important;
      }
      &::before{
        left: unset;
        right: 10%;
      }
    }
  }

  &__checkbox:checked + &__button > &__card {
    opacity: 1;
    transform: scale(1);
    pointer-events: all;
  }
}
