@import './base.scss';
@import '../../preset.scss';
@import "./animations.scss";

.rhm-gn-navigation {
  @include preset;

  position: relative;
  font-size: 10px;
  font-family: inherit;

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $color-white;
    width: 7em;
    height: 7em;
    position: fixed;
    border-radius: 50%;
    z-index: var(--z-index) !important;
    text-align: center;
    box-shadow: 0 1em 3em rgba($color-black, 0.1);
    user-select: none;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {

    position: relative;
    cursor: pointer;
    margin: 0 auto;
  
    &,
    &::before,
    &::after {
      width: var(--gn-icon-width);
      height: var(--gn-icon-height);
      background-color: var(--gn-icon-color);
      display: inline-block;
      margin: 0;
      transition: top 0.3s;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
    }
    &::before {
      top: -0.8em;
    }
    &::after {
      top: 0.8em;
    }
  }

  &__button:hover &__icon::before {
    top: -1em;
  }

  &__button:hover &__icon::after {
    top: 1em;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-45deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(45deg);
    top: 0;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__background {
    width: 6em;
    height: 6em;
    position: fixed;
    background-color: $color-pink-2;
    z-index: calc(var(--z-index) - 10) !important;
    transition: transform 0.8s timing_function_1();
    transform: scale(0.5);
  }

  &__nav {
    height: 100vh;
    position: fixed;
    z-index: calc(var(--z-index) - 10) !important;
    opacity: 0;
    width: 0;
    transition: all 0.8s timing_function_2();
    top: 0;

  }

  & ul {
    @include centerItem;

    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--gn-fontColor);

    & a {
      text-decoration: none;
    }
  }
  & li {
    margin: 10px 0;
  }
  & li {
    align-self: flex-start; 
    font-size: var(--gn-fontSize);
    font-weight: 300;
    padding: 0.4em 1em;
    text-decoration: none;

    background-image: linear-gradient(
      120deg,
      var(--gn-listHoverColor-1) 50%,
      var(--gn-listHoverColor-2) 50%
    );

    background-size: 250%;
    transition: all 0.4s;
    display: inline-block;
    cursor: pointer;

    &:hover,
    &:active {
      background-position: 100%;
      color: var(--gn-fontHoverColor);
      transform: translateX(1em);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(100);
  }
  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
  }

  @include LEFT_SCREEN_ANIMATION();
  @include RIGHT_SCREEN_ANIMATION();
  @include CIRCLE_BOX_ANIMATION();
}
