@import './base.scss';

.s-navigation {
    position: relative;
    user-select: none !important;
    font-size: 10px;
    &__checkbox {
      display: none; 
    }
  
    &__button {
      background-color: $color-white;
      width: 6em;
      height: 6em;
      position: fixed;
      top: 5vh;
      border-radius: 50%;
      left: 3vw;
      z-index: 100;
      text-align: center;
      box-shadow: 0 1em 3em rgba($color-black, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none !important;
      cursor: pointer;
    }
  
    &__icon {
      position: relative;
      cursor: pointer;
      z-index: 10000;
      user-select: none !important;
  
      &,
      &::before,
      &::after {
        width: 2.6em;
        height: 2px;
        background-color: $color-black;
        display: inline-block;
        margin: 0;
        transition: top 0.3s;
        user-select: none !important;
      }
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
      }
      &::before {
        top: -0.8em;
      }
      &::after {
        top: 0.8em;
      }
    }
  
    &__button:hover &__icon::before {
      top: -1em;
    }
  
    &__button:hover &__icon::after {
      top: 1em;
    }
  
    &__checkbox:checked + &__button &__icon::after {
      transform: rotate(-45deg);
      top: 0;
    }
  
    &__checkbox:checked + &__button &__icon::before {
      transform: rotate(45deg);
      top: 0;
    }
  
    &__checkbox:checked + &__button &__icon {
      background-color: transparent;
    }
  
    &__background {
      width: 220px;
      min-height: 200px;
      border-radius: 5px;
      position: absolute;
      top: 7.5em;
      background-color: $color-white;
      z-index: 1000;
      transition: all 0.2s cubic-bezier(0.2, 0.94, 0.66, 1.21);
  
      box-shadow: 0 1em 3em rgba($color-black, 0.1);
      opacity: 0;
      transform: scale(0.7);
      padding: 5% 0;
  
      & ul {
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-direction: column;
  
        & > * {
          font-size: 1.7em;
          margin: 4px 0;
          padding: 5.5px 10%;
        }
        & li:hover {
          background-color: rgba(aquamarine, 0.1) !important;
        }
      }
  
      &--left {
        left: 0;
        & ul {
          text-align: left !important;
        }
      }
      &--right {
        right: 0;
        & ul {
          text-align: right !important;
        }
      }
    }
  
    &__checkbox:checked + &__button > &__background {
      opacity: 1;
      transform: scale(1);
    }
  }
  