.navigation {
  font-family: inherit;
  position: relative; }
  .navigation__checkbox {
    display: none; }
  .navigation__button {
    background-color: #fff;
    width: 7rem;
    height: 7rem;
    position: fixed;
    top: 6rem;
    border-radius: 50%;
    right: 6rem;
    z-index: 1001;
    text-align: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1); }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem !important;
    cursor: pointer; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 2px;
      background-color: #000;
      display: inline-block;
      margin: 0;
      transition: top 0.3s; }
    .navigation__icon::before, .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0; }
    .navigation__icon::before {
      top: -0.8rem; }
    .navigation__icon::after {
      top: 0.8rem; }
  .navigation__button:hover .navigation__icon::before {
    top: -1rem; }
  .navigation__button:hover .navigation__icon::after {
    top: 1rem; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
    transform: rotate(-45deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
    transform: rotate(45deg);
    top: 0; }
  .navigation__checkbox:checked + .navigation__button .navigation__icon {
    background-color: transparent; }
  .navigation__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-color: #ff4a81;
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    z-index: 1000;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    top: 0;
    left: 0; }
  .navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none; }
  .navigation__item {
    margin: 1rem; }
  .navigation__link:link, .navigation__link:visited {
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(120deg, transparent 50%, #fff 50%);
    background-size: 250%;
    transition: all 0.4s;
    display: inline-block; }
  .navigation__link:hover, .navigation__link:active {
    background-position: 100%;
    color: #ff4a81;
    transform: translateX(1rem); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    width: 100%;
    opacity: 1; }
